.VolumesContainer {
    flex: 1;
    overflow-y: auto;
}

.VolumesContainer .TableList {
    display: table;
}

.VolumesContainer .TableListRow {
    line-height: 50px;
}

.VolumesContainer .TableList input {
    width: 100% !important;
}

.VolumesContainer .TableListRow div:nth-of-type(1),
.VolumesContainer .TableListRow div:nth-of-type(2) {
    width: 46%;
    padding: 0 0 0 30px;
}

.VolumesContainer .TableListRow div:last-of-type {
    width: 8%;
    text-align: center;
    padding: 0;
}

.VolumesContainer .TableListRow div:nth-of-type(1) {
    position: relative;
}

.VolumesContainer .TableListRow div:nth-of-type(1) input {
    padding-right: 75px !important;
    text-overflow: ellipsis;
}

.VolumesContainer .OpenFolder {
    position: absolute;
    height: 32px;
    cursor: pointer;
    right: 10px;
}

.VolumesContainer .RemoveVolume,
.VolumesContainer .RemoveVolume * {
    cursor: pointer;
}

.VolumesContainer .RemoveVolume svg {
    vertical-align: middle;
    width: 12px;
}

.VolumesContainer .RemoveVolume svg path {
    fill: #c7c4c4;
}

.VolumesContainer .RemoveVolume:hover svg path {
    fill: #9f9c9c;
}

.VolumesContainer .Bottom {
    text-align: center;
    margin: 15px 0 20px;
}