.volumes-container {
    position: relative;
    flex: 1;
}

.volumes-container .form-actions {
    bottom: 0;
    position: absolute;
}

.volumes-table {
    position: absolute;
    top: 0;
    display: block;
    bottom: 53px;
    overflow-y: auto;
}

.volumes-table tr:active {
    color: inherit !important;
    background: inherit !important;
}

.volumes-table.table-striped tr:nth-child(even):active {
    background: #f5f5f4 !important;
}

.volumes-table input {
    padding: 0;
    border: 0;
    background: transparent;
    width: 100%;
}

.volumes-table td {
    padding: 0 15px;
}

.volumes-table input {
    width: 100%;
    border: 0;
    padding: 3px 4px;
    text-overflow: ellipsis;
}

.volumes-table .icon-cancel-circled {
    color: #999;
}

td.volumes-table-source {
    width: 70%;
}

td.volumes-table-source input {
    padding-right: 30px;
}

td.volumes-table-source {
    position: relative;
}

td.volumes-table-source .icon {
    position: absolute;
    right: 22px;
    top: 3px;
    color: #999;
    display: block;
}

td.volumes-table-dest {
    width: 30%;
}

.volumes-table input:focus {
    outline: -webkit-focus-ring-color solid 2px;
}